body {
    background-image: url("https://www.google.com/search?q=pink+rose+images&rlz=1C1YTUH_enIN1014IN1014&sxsrf=ALiCzsbgzjQovwqS1kJL1y8wbEE65pc6FQ:1658213425109&tbm=isch&source=iu&ictx=1&vet=1&fir=xLCeAqZDEvzvDM%252C-IT0Svv7ky9lGM%252C_%253BsJoWKOOseWo9dM%252C-IT0Svv7ky9lGM%252C_%253BJRLWz9mwbFhHNM%252CBpJxtMpoETWteM%252C_%253BJuu0YLAgiUqq4M%252C-IT0Svv7ky9lGM%252C_%253BW7RBGDw-JLQDJM%252C_ruoxxVBJrhkhM%252C_%253B8hK2C34581bIdM%252C-IT0Svv7ky9lGM%252C_%253B3g5n0Ygu31TvpM%252CBpJxtMpoETWteM%252C_%253BRSy1aa42qSf2VM%252C-IT0Svv7ky9lGM%252C_%253BdiSCvd60dK9fgM%252C5Po-wFyP_yx4mM%252C_%253BIT9zlmS-H9woyM%252C-IT0Svv7ky9lGM%252C_%253B-xqasINvslBRlM%252C8NNreWqiSXa5fM%252C_%253BMVSSzEMmPpXfKM%252CIuCJ1_3ekErHoM%252C_%253BD1hwjBVTPFFX1M%252CgD_LNRbnSVIVvM%252C_%253BGBqY8py8lbOI5M%252C2lSqAUuRD5c1UM%252C_%253BEc9TyrGH2M4qTM%252CZmPk1h_uMkKuGM%252C_%253Bdnhtyw0sn5WICM%252CdR8mATMlq3vKQM%252C_%253BDIDoFOg95grroM%252CSpvWiZy0Y-diQM%252C_%253BEX0q7jAsiyaBmM%252C-IT0Svv7ky9lGM%252C_&usg=AI4_-kQcec1Mp98YIWxAEnvSI325cVR6bw&sa=X&ved=2ahUKEwjd_qixroT5AhV6-TgGHfpHDAcQ9QF6BAgPEAE#imgrc=3g5n0Ygu31TvpM");
  }
  a {
    color: red;
  }
    /* visited link */
  a:visited {
  color: green;
  }
  /* mouse over link */
  a:hover {
  color: purple;
  }
  /* selected link */
  a:active