#dheen1{
    background-image: conic-gradient(rgb(0, 255, 242), rgb(255, 0, 212), green);
  }
  #dheen2{
    background-image: conic-gradient(rgb(8, 0, 255), rgb(204, 0, 255), rgb(105, 128, 0));
  }
  #dheen3{
    background-image: conic-gradient(rgb(8, 0, 255), rgb(179, 0, 255), rgb(128, 0, 2));
  }
  #dheen4{
    background-image: conic-gradient(rgb(255, 0, 191), rgb(0, 4, 255), rgb(58, 0, 128));
  }
 